.container{
    background: lightgrey;
}
.bloc{

    padding: 10px;
}
.list-group{
    line-height: 50px;
}
.img{
    height: 420px;
    width:570px;
}
.label-info{
background: rgb(159, 159, 168);
margin: 0 auto;
font-style: italic;
}
